<ion-header>
  <ion-toolbar>
    <ion-title>Practice Plan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>


    <ion-row>
      <ion-col>
        <ion-button (click)="showCreatePlan($event)" fill="clear">
          {{ (currentPlan?.date) ? "Current Plan: " + (currentPlan.date | date) : "View Plans" }}</ion-button>

        <ion-button (click)="showStartTime = !showStartTime" *ngIf="currentPlan" fill="clear">
          {{ (currentPlan?.startTime) ? "Start Time: " + (currentPlan.startTime | date: 'shortTime') : "Add Start Time" }}
        </ion-button>

        <ion-item *ngIf="showStartTime">
          <ion-label position="stacked">Start Time</ion-label>
          <ion-datetime [(ngModel)]="currentPlan.startTime" (ionChange)="timeChanged($event)"
            minuteValues="00, 05, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55," displayFormat="hh:mm a"
            pickerFormat="hh:mm a"></ion-datetime>
        </ion-item>

      </ion-col>
    </ion-row>

    <!-- No Pratice Plans -->

    <ion-row *ngIf="!currentPlan">
      <ion-col>
        <h4 text-center>You currently dont have any Practice Plan Selected</h4>
      </ion-col>
    </ion-row>

    <!-- No Pratice Plans -->
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label>
              <p>Total Time: xxx Minutes</p>
            </ion-label>
          </ion-item>
          <ion-item *ngFor="let activity of activities">
            <ion-label [routerLink]="">
              <h2>{{ activity.name }}</h2>
              <p>{{ activity.duration }} Minutes - {{ activity.startTime }}</p>
            </ion-label>
            <ion-button size="small" fill="clear" (click)="editActivity(activity)" color="dark">Edit</ion-button>
          </ion-item>
          <ion-button (click)="newActivity()" fill="clear"> New Activity</ion-button>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>